
.nav {
    display: flex;
    flex-direction: row;
    align-items:center;
    background-color:midnightblue;
    height: 50px;

}

.nav1 {
    order:1;
    width:20%;
}

.nav2 {
    order:2;
    width:60%;
    justify-content: space-around;
    align-items: baseline;
}

.nav3 {
    order:3;
    width: 20%;
}

.home {
    color: whitesmoke;
    padding-left: 25px;
    font-weight: bolder;
}

.account {
    color: whitesmoke;
    padding-right: 35px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-weight: bolder;
    
    
}


.sign {
    
    list-style-type: none;
    color:white;
    font-weight: bolder;
    
}
