
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color:midnightblue;

}

.home {
    color: whitesmoke;
    padding-left: 25px;
    font-weight: bolder;
}

.account {
    color: whitesmoke;
    padding-right: 35px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-weight: bolder;
    
}


.sign {
    padding-right: 25px;
    list-style-type: none;
    color:black;
    font-weight: bolder;
}
