
.main {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    border-style:double;
    border-color:dimgray;
    
    
  
}

.content {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    
    
    
}

.datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
  }
  
  .option {
    padding: 0;
  }
  
  .input[type="range"] {
    width: 200px;
    margin: 0;
  }

  .reviewInput {
    width: 276px;
    height: 100px;
    background-color: aliceblue;
    color:black;
    overflow-wrap: break-word;
    margin-left: 1%;
    border:  #4C43CD;
  }

  .label {
    display: flex;
    justify-content: center;
    color: black;
  }

  .autocompleteInput {
    background-color:whitesmoke;
  }

  .movies {
    position: relative;
    z-index: 1;
    color: black;
    display: flex;
    justify-self: center;
  }

  .fuck {
    width: 270;
    position: relative;
    z-index: 1;
    background-color: aqua;
  }

  .button90 {
    color: #fff;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: #4C43CD;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;
  }