
.main {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    border-style:double;
    border-color: rgb(172, 29, 29);
}

.content {
    display:flexbox;
    align-content: space-around;
    justify-content:space-around;

}

.datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
  }
  
  .option {
    padding: 0;
  }
  
  .input[type="range"] {
    width: 200px;
    margin: 0;
  }

  .reviewInput {
    width: 280px;
    height: 100px;
    background-color: aliceblue;
    color:black;
    overflow-wrap: break-word;
    margin-left: 1%;
    
  }

  .label {
    display: flex;
    justify-content: center;
  }

  .autocompleteInput {
    background-color:whitesmoke;
  }